.Home{
    width: 100vw;
    height: 100vh;
    background-image: url('/public/Images/2.jpg');
    background-position: center;
    background-size: contain;
    display: flex;
}
.home1{
    width: 30vw;
    height: max-content;
    margin-top: 10%;
    margin-right: 1rem;

}
.myImg{
    width: 25vw;
    height: 50vh;
    box-shadow: 2px 2px 3px gray;
    border-radius: 100%;
}
.home2{
    height: max-content;
    width: 60%;
    color: gray;
    margin-top: 18%;
}
.myName{
    font-size: 80px;
    text-shadow: 1px 2px 3px grey;
}

.socials{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.socials-0{
    list-style-type: none;
    display: flex;
    float: right;
    
}
.socials-10 i{
    margin-right:2rem ;
    align-content: space-between;
    color: gray;
}

@media only screen and (max-width: 860px) {
    .myImg{
        width: 30vw;
        height: 45vh;
        box-shadow: 2px 2px 3px gray;
        border-radius: 100%;
        margin: auto;
    }
    .myName{
        font-size: 70px;
        text-shadow: 1px 2px 3px grey;
    }
    .home2{
        height: max-content;
        width: 50%;
        color: gray;
        margin-top: 20%;
        margin-left: 2rem;
    }
}
.home1{
    width: 30vw;
    height: max-content;
    margin-top: 20%;

}
@media only screen and (max-width: 680px) {
    .myImg{
        width: 30vw;
        height: 45vh;
        box-shadow: 2px 2px 3px gray;
        border-radius: 100%;
        margin: auto;
    }
    .myName{
        font-size: 65px;
        text-shadow: 1px 2px 3px grey;
    }
    .home2{
        height: max-content;
        width: 50%;
        color: gray;
        margin-top: 20%;
        margin-left: 2rem;
    }
}
.home1{
    width: 30vw;
    height: max-content;
    margin-top: 20%;

}
@media only screen and (min-width: 1000px) {
    .myImg{
        width: 30vw;
        height: 45vh;
        box-shadow: 2px 2px 3px gray;
        border-radius: 100%;
        margin: auto;
    }
    .myName{
        font-size: 70px;
        text-shadow: 1px 2px 3px grey;
    }
    .home2{
        height: max-content;
        width: 50%;
        color: gray;
        margin-top: 18%;
        margin-left: 2rem;
    }
}
.home1{
    width: 30vw;
    height: max-content;
    margin-top: 15%;

}

@media only screen and (max-width: 480px) {
    .myImg{
        width: 30vw;
        height: 45vh;
        box-shadow: 2px 2px 3px gray;
        border-radius: 100%;
        margin: auto;
    }
    .myName{
        font-size: 48px;
        text-shadow: 1px 2px 3px grey;
    }
   

.home1{
    width: 30vw;
    height: max-content;
    margin-top: 28%;

}

}